@{
    ViewBag.Title = "Dependencies";
}
<h2>Dependencies</h2>
<p>Some content depends on other content. For instance, a certain map may depend on having a specific texture pack installed.</p>
<p>Here, you can select these dependencies. Search for the dependency you want and click "Add".</p>

@*TODO: Search correctly*@
@{Html.RenderPartial("ItemSearch", "#");}
<hr />
@Html.ActionLink("Next", "ReviewItem", null, new { @class = "pull-right btn btn-primary" })