fieldset {
    position: relative;
}

.field-validation-error {
    background-color: #f00;
    color: #fff;
    padding: 2px;
    float: right;
    border-radius: 3px;
    border: 1px #e55 solid;
    height: 23px;
    line-height: 23px;
    position: absolute;
    left: 250px;
}